.pagination-page-info {
    padding: .6em .6em .6em 0;
    width: 40em;
    margin: .5em .5em .5em 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding-left: 2px;
    padding: .1em .25em;
    font-size: 150%;
}