{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
    <!-- 질문 목록 -->
    {% if question_list %}
        <ul class="list-group list-group-flush mt-3">
        {% for question in question_list %}
            <li class="list-group-item">
                <a href="{{ url_for('QUESTION.question_detail', question_id=question.id) }}">{{ question.content }}</a>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p class="mt-3">질문이 없습니다.</p>
    {% endif %}
</div>
{% endblock %}
