{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Question {{ question_order_num }}</h1>
    <div class="card shadow-lg">
        <div class="card-body text-center">
            <h5 class="card-title">{{ question.content }}</h5>
        </div>
        <div class="card-footer">
            <form id="question_form" action="{{ url_for('QUESTION.question_detail', question_order_num=question_order_num) }}" method="post">
                {{ form.hidden_tag() }}
                <div class="mb-3">
                    {{ form.answer.label(class="form-label") }}
                    {{ form.answer(class="form-radio") }}
                </div>
                <div class="d-grid gap-2">
                    {{ form.submit(class="btn btn-primary btn-lg") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
