<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        h1 {
            color: green;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Admin Site</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if not current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/login">Login</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/register">Create account</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% if current_user.is_authenticated %}
            <h1>Admin page</h1>
            <a href="/admin/logout" class="btn btn-danger">Logout</a>
            <div class="list-group mt-3">
                {% for answer in answers %}
                    <div class="list-group-item">
                        <h5 class="mb-1">Answer ID: {{ answer.id }}</h5>
                        <p class="mb-1">Answered User: {{ answer.user_id }}</p>
                        <p class="mb-1">Answer Question: {{ answer.question_id }}</p>
                        <p class="mb-1">Answer Response: {{ answer.chosen_answer }}</p>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        {% else %}
            <h1>You are not logged in</h1>
        {% endif %}
    </div>

    <!-- Bootstrap JS and its dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
