{% extends 'admin/admin_home.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="my-4">Login to admin account</h1>
    <form action="{{ url_for('admin.login') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3 form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3 form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>

        <div class="mb-3 form-group">
            {{ form.submit(class="btn btn-success btn-lg shadow") }}
        </div>
    </form>
</div>
{% endblock %}
