{% extends 'admin/admin_home.html' %}
{% block content %}
<div class="container mt-4">
    {% if current_user.is_authenticated %}
        <h1>Question Results</h1>
        {{ pagination.info }}
        {{ pagination.links }}
        <table>
          <thead>
            <tr>
              <th>#</th>
              <th>ID</th>
              <th>CONTENT</th>
              <th>ORDER_NUM</th>
              <th>IS_ACTIVE</th>
            </tr>
          </thead>
          <tbody>
            {% for question in questions %}
              <tr>
                <td>{{ loop.index + pagination.skip }}</td>
                <td>{{ question.id }}</td>
                <td>{{ question.content }}</td>
                <td>{{ question.order_num }}</td>
                <td>{{ question.is_active }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        {{ pagination.links }}
    {% else %}
        <h1>Access Denied : You are not logged in</h1>
    {% endif %}
</div>
{% endblock %}
