{% extends 'admin/admin_home.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Create an Account</h1>
    <form action="#" method="post" class="mt-3">
        <div class="mb-3">
            <label for="username" class="form-label">Admin name:</label>
            <input type="text" name="username" id="username" class="form-control" placeholder="Choose a username">
        </div>

        <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input type="email" name="email" id="email" class="form-control" placeholder="Contact Email">
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control" placeholder="Create a password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}
