{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-3">User Information</h2>
    <form action="{{ url_for('MAIN.user_info') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3 form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>

        <div class="mb-3 form-group">
            {{ form.age.label(class="form-label") }}
            {{ form.age(class="form-control") }}
        </div>

        <div class="mb-3 form-group">
            {{ form.gender.label(class="form-label") }}
            {{ form.gender(class="form-control") }}
        </div>

        <div class="mb-3 form-group">
            {{ form.submit(class="btn btn-success btn-lg shadow") }}
        </div>
    </form>
</div>
{% endblock %}
